# General
.DS_Store

# Dependency directories
node_modules/

# Compiled binary addons (https://nodejs.org/api/addons.html)

assets/*

# Sass stuff
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test